:root{
	--mainColor:#89cec5;
	--secondaryColor:#9ea3a2;

	--borderColor:#1d1520;

	--mainText:rgb(28, 28, 29);
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(84, 97, 90, 0.8);
	--previewShadow:#07616d;


	--buttonColor:#31b4a9;


}
